$primary-color: #0282f9;
$black-color: black;
$white-color: white;
$secondary-color: #303030;

/* $dc-light: #ffffff;
$dc-info: #0282f9;
$dc-secondary: #797979;
$dc-tertiary: #303030;
$dc-dark: #1c1c1c; */